body{
    background-color: #E5E5E5 ;
}
.container{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 15px;

   
}
.logo{
    
    width: 120px;
    height: 48px;
    
    

}

.textyboto{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    text-align: center;
    
    position: relative;
    width: calc(100% - 200px);
    height: calc(100% - 50px);
    left: 130px;
 
   


}

.textyboto textarea{
    height: 70%;
    width: 80%;
    background-color: #E5E5E5 ;
    display: block;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 150%;
    text-align: center;

    color: #0A3871;
    resize: none;
    overflow: hidden;
}

.textyboto i{
    display: block;
    margin-bottom: 20px;
}
.textyboto i b{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 15px;
    line-height: 50%;
}


.textyboto button{
    background-color: #E5E5E5 ;
    border-radius: 5px;
    width: 140px;
    font-size: 15px;
    padding: 15px;
    margin: 0 20px;
    color:#0A3871;
    
    
}

#encriptar{
    
background-color:#0A3871;
color:#FFFFFF;

}


main{
    flex: 1;
  
    margin: 40px;
    
}


.aside_margen{
 
    margin: 40px 40px 40px 0; 
  
}

.aside_centrado{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

aside{
    
    max-width: 400px;
    height: calc(100vh - 80px);
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 0px;
   

    
   
}


aside p, .texto_procesado p {
    
    text-align: center; 
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    
  }
aside p:first-of-type {
    font-weight: bold;
  }

.texto_procesado{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 20px;
    width: 400px;
    max-width: 400px;
    overflow: hidden;
    word-wrap: break-word;
    
}
